
.handmade-spinner {
    animation: handmade-spinner-spin infinite 3s linear;
    font-size: 3em;
}
  
@keyframes handmade-spinner-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}